
<!-------------------------Embeded Video --------------------->
<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://giphy.com/embed/39V7Yg3swPRv2" width="480" height="372" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/despicable-me-minions-flirting-39V7Yg3swPRv2">via GIPHY</a></p>
</div>
<br>
<br>

<!---------------------------Produtos --------------------->
<section id="produtos">
<div class="container">
  <div class="card-group">
    <div class="card" style="height: 40rem;">
      <img src="https://scubasanmateo.com/images250_/minion-clipart-chris-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Minion One</b></h5>
        <p class="card-text">Para reservar este minion, favor mencionar o nome do minion acima!</p>
        <a href="#sobre" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a> 
      </div>
    </div>
    <div class="card" style="height: 40rem;">
      <img src="https://scubasanmateo.com/images250_/minion-clipart-friend-6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Minion Two</b></h5>
        <p class="card-text">Para reservar este minion, favor mencionar o nome do minion acima!</p>
        <a href="#sobre" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a>
      </div>
    </div>
    <div class="card" style="height: 40rem;">
      <img src="https://scubasanmateo.com/images250_/minion-clipart-fireman.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Minion Three</b></h5>
        <p class="card-text">Para reservar este minion, favor mencionar o nome do minion acima!</p>
        <a href="#sobre" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a>     
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card" style="height: 40rem;">
      <img src="https://scubasanmateo.com/images250_/minion-clipart-teacher-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Minion Four</b></h5>
        <p class="card-text">Para reservar este minion, favor mencionar o nome do minion acima!</p>
        <a href="#sobre" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a>    
      </div>
    </div>
    <div class="card" style="height: 40rem;">
      <img src="https://scubasanmateo.com/images250_/minion-clipart-chris-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Minion Five</b></h5>
        <p class="card-text">Para reservar este minion, favor mencionar o nome do minion acima!</p>
        <a href="#sobre" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a>     
      </div>
    </div>
    <div class="card" style="height: 40rem;">
      <img src="https://scubasanmateo.com/images250_/minion-clipart-friend-6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Minion Six</b></h5>
        <p class="card-text">Para reservar este minion, favor mencionar o nome do minion acima!</p>
        <a href="#sobre" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a>      
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-------------------------- Sobre Nós ----------------------->

<section class="bg-primary text-white mb-0" id="sobre">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Sobre Nós</h2>
    <hr class="star-light mb-5">
    <div class="rows">
      <div id="sobre">
        <h6>Somos Uma Empresa Séria Que Trabalha Brincando Para Garantirmos A Sua Melhor Diversão.</h6>
      </div>      
    </div>    
  </div>
</section>
<br>
<br>
<br>
<!--------------------------- Contato - Reservar--------------------------->
<section id="contato">
  <div class="jumbotron2">
    <h2 class="text-center text-uppercase text-black mb-0">Reservar Agora!</h2>
    <!--hr class="star-dark mb-5"-->
  </div>  
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label></label>
              <input class="form-control" id="name" type="text" placeholder="Nome" required="required" data-validation-required-message="Digite seu nome, por favor!.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label></label>
              <input class="form-control" id="email" type="email" placeholder= "Email" required="required" data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label></label>
              <input class="form-control" id="phone" type="tel" placeholder="Telefone" required="required" data-validation-required-message="Digitar o seu telefone, por favor!.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label></label>
              <textarea class="form-control" id="message" rows="2" placeholder="Nome do Produto Escolhido" required="required" data-validation-required-message="Digitar o nome do produto, por favor!"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<br>
<br>

<!------------------------ Footer---------------------------->
<div class="jumbotron">
  <footer class="footer text-center text-white">
    <div class="container">    
        <div class="foot">
          <h4 class="text-uppercase mb-4">Local</h4>
          <p>Rua da Diversão, 1000
            <br>Rio - Brasil</p>
        </div>
    </div>    
        
  </footer>
  <div class="copyright py-4 text-center text-black">
    <div class="container">
      <small>Copyright &copy; minionsrental.com 2019</median>
    </div>
  </div>

  <!---------------- Scroll to Top Button (Only visible on small and extra-small screen sizes) ------->

  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</div>